@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  overflow-y: scroll; /* atau auto */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
